@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import './scss/Colors.scss';

.container {
    font-family: Inter;
    display: flex;
    flex-direction: row;
}
