@import './Colors.scss';

#overview {
    h3 {
        font-weight: 400;
        font-size: 0.9rem;
        color: $primary-red;
    }

    #expenses-list {
        ul {
            list-style-type: none;
            padding: 0;
            width: 50%;
        }
        li {
            background-color: $secondary-grey;
            margin-bottom: 0.8rem;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem;
        }
        .category {
            display: flex;
            flex-direction: column;

            .category-title {
                font-weight: 500;
                text-transform: capitalize;
            }
            .category-date {
                font-size: 0.8rem;
                color: $primary-grey;
            }
        }
        .price {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: 500;
        }
    }
}